body{
    background-color: #b6b6b6;
}

#div1{
    background-color: #ffffff;
    height: 500px;
    width: 50vw;
    border: #000000 10px dotted;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div1_filho1{
    background-color: #ffff00;
    height: 50px;
    width: 30%;
}

#div1_filho2{
    background-color: rgb(212, 138, 0);
    height: 100px;
    width: 30%;
}

#div1_filho3{
    background-color: rgb(0, 189, 0);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin: 50px 0 0 50px;
}